<ion-content [fullscreen]="true">
  <div *ngIf="db?.header" class="center">
    <div class="container">
      <div class="header">
        <span>{{db.name}}</span>
        <div (click)="back()" class="close-button">
          <ion-icon name="close"></ion-icon>
        </div>
      </div>
      <div class="menu">
        <app-group (changeCurrentGroup)="currentGroup=$event" *ngFor="let group of db.groups" [currentGroup]="currentGroup" [group]="group"></app-group>
      </div>
      <div class="content">
        <app-entries [currentGroup]="currentGroup"></app-entries>
      </div>
    </div>
  </div>
</ion-content>
