.grid {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: 'app-fav-list' 'app-db-list';
  min-height: 100%;
}

app-fav-list {
  grid-area: app-fav-list;
  display: flex;
  flex-wrap: wrap;
}

app-db-list {
  grid-area: app-db-list;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
